[submodule ".registry"]
	path = .registry
	url = https://github.com/drmowinckels/drmowinckels.r-universe.dev
	shallow = true
	branch = HEAD
[submodule "uiothemes"]
	path = uiothemes
	url = https://github.com/drmowinckels/uiothemes
	shallow = true
	registered = true
[submodule "colorhex"]
	path = colorhex
	url = https://github.com/drmowinckels/colorhex
	shallow = true
	registered = true
[submodule "tidyquintro"]
	path = tidyquintro
	url = https://github.com/drmowinckels/tidyquintro
	shallow = true
	registered = true
[submodule "gradethis"]
	path = gradethis
	url = https://github.com/rstudio/gradethis
	shallow = true
	registered = false
[submodule "learnr"]
	path = learnr
	url = https://github.com/rstudio/learnr
	shallow = true
	registered = false
